body.dark-mode {
    --bg-opacity: 1;
    background-color: #000000;
    background-color: rgba(0, 0, 0, var(--bg-opacity));
    color: #d3d5f3;
}

.card-body {
    background-color: #000000;
}

.sticky-footer {
    background-color: #00000059;
    color: #fff
}

.sticky-footer a {
    color: #fff
}